<div class="row d-flex flex-wrap justify-content-center">
    <div class="card text-center w-50">
        <div class="card-header">
            Direct Messages for {{chat.post.title}} {{recipient.user.username}}
        </div>
        {{#if loggedIn}}
        <div class="card-container">
            <div class="row card-row">
                <div class="card w-100 mb-2">
                    <div class="card-body message-card bg-light p-2 text-left">
                        {{#each chat.texts as |text|}}
                        <div class="m-2">
                            <span style="font-weight:bold">{{text.user.username}}:</span> {{text.chat_text}}<br />
                            <small class="text-muted">Sent at {{format_time text.updated_at}} on {{format_date text.updated_at}}</small><br />
                        </div>
                        {{/each}}
                    </div>
                    <hr class="m-1 w-100">
                    <form class="chat-form w-100 d-flex flex-wrap justify-content-start p-2" data-chat-id="{{chat.id}}"> 
                        {{!-- <label class="col-12 text-left" for="chat-input">Enter a new message: </label><br /> --}}
                        <input class="form-control col-10" name="chat-input" id="chat-input">
                        <button type="submit" id="new-direct-message" class="styled-btn col-2">send</button>
                    </form>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/chat-text.js"></script>
<script src="/javascript/refresh.js"></script>
{{/if}}