<head>
    <link rel="stylesheet" href="/stylesheets/upload.css" />
</head>

<div class="row m-0">
    <div class="container-fluid col-sm-12 col-lg-6">
        <div class="row">
            <div class="card text-center w-100">
                <div class="card-header">
                    Create New Post
                </div>
                <div class="card-body center">
                    <form class="new-post-form w-100">
                        {{!-- title --}}
                        <div class="row center">
                            <label for="post-title" class="pretty-label form-label">Title:</label>
                            <input type="text" id="post-title" name="post-title" class="form-control w-100" />
                        </div>

                        {{!-- file upload --}}
                        <div class="row center">
                            <label for="file-button" class="pretty-label">Product Image:</label>
                            <img class="w-100 mb-3" id="create-image">
                            <progress value="0" max="100" class="w-100" id="uploader">0%</progress>
                            <input type="file" value="upload" class="p-1 form-control w-100" id="file-button" />
                        </div>

                        {{!-- description --}}
                        <div class="row center">
                            <label for="post-text" class="pretty-label">Product Description:</label>
                            <textarea class="form-control w-100" id="post-text" name="post-text"></textarea>
                        </div>

                        {{!-- price --}}
                        <div class="row center">
                            <label for="post-price" class="pretty-label">Product Price:</label>
                            <input type="number" class="form-control w-100" id="post-price" name="post-price" min="0"
                                value="0.00" step="01" />
                        </div>

                        {{!-- category --}}
                        <div class="row center">
                            <label for="post-category" class="pretty-label">Category:</label>
                                <select class="form-control w-100" id="edit-post-category">
                                    {{#each categories as |category|}}
                                    <option class="w-100" id="post-category" value="{{category.id}}">{{category.category_name}}</option>
                                    {{/each}}
                                </select>
                        </div>

                        <button type="submit" id="post-create" class="styled-btn mb-4">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid col-sm-12 col-lg-6">
        <div class="row">
            <div class="card text-center w-100">
                <div class="card-header">
                    Your Posts
                </div>
                <div class="card-container all-posts">
                    <div class="row card-row row-cols-1 row-cols-sm-2 d-flex justify-content-center">
                        {{#each posts}}
                        <div class="col">
                            <a class="card-link" href="/dashboard/edit/{{id}}">
                                {{>post-info}}
                            </a>
                        </div>
                        {{/each}}
                    </div>

                    {{#unless posts}}
                    You haven't made any posts!
                    {{/unless}}
                </div>
            </div>
        </div>

        <div class="row">
            {{!-- {{#if messages.length}} --}}
            <div class="card text-center w-100">
                <div class="card-header">
                    Your Messages
                </div>
                <div class="card-container">
                    <div class="row card-row">
                        <ol>
                            {{#each messages as |message|}}
                            <li> {{> messages message}}</li>
                            {{/each}}
                        </ol>

                        {{#unless messages}}
                        You haven't posted any messages!
                        {{/unless}}
                    </div>
                </div>
                {{!-- {{/if}} --}}
            </div>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>
{{#if posts}}
<script src="/javascript/delete-post.js"></script>
{{/if}}
{{!-- <input type="checkbox" id={{category.id}} name="category{{category.id}}" value={{category.name}}>
<label for="category{{category.id}}">{{category.name}}</label> --}}

{{> firebase}}
{{!-- upload logic must be defined under firebase initialization --}}
<script src="/javascript/upload-file.js"></script>