{{#if loggedIn}}
<form class="chat-form">
    <div class="chat-title" id="post-id" data-chat-id="{{post.id}}">{{post.title}}</div>
    <div class="chat-author" id="recipient" data-chat-author="{{post.user.id}}">{{post.user.username}}</div>
    <div class="chat-user" id="user-id" data-chat-user="{{this.user_id}}"></div>
       
    <button type="submit" id="new-direct-message"  class="styled-btn">Direct Message</button>
    
</form>
    
{{/if}}

{{#unless loggedIn}}
<p>You must be logged in to direct message.</p>
{{/unless}}

<script src="/javascript/direct-message.js"></script>