<div class="row m-0">
   <div class="container-fluid col-sm-12 col-lg-6">
      <div class="row">
         <div class="card w-100 text-center" id="edit-page-border">
            <div class="card-header">
               Edit Post
            </div>
            <div class="card-body center">
               <form id="edit-post">
                  {{!-- title --}}
                  <div class="row center">
                     <label for="post-title" class="pretty-label form-label">Title:</label>
                     <input type="text" id="title-edit" name="post-title" class="form-control w-100" value="{{post.title}}"/>
                  </div>

                  {{!-- file upload --}}
                  <div class="row center">
                     <label for="file-button" class="pretty-label">Product Image:</label>
                     <img class="w-100 mb-3" id="create-image" src="{{post.image_url}}">
                     <progress value="0" max="100" class="w-100" id="uploader">0%</progress>
                      {{!-- preview file to load img for preview section below --}}
                     <input type="file" value="upload" class="p-1 form-control w-100" id="file-button" />
                  </div>

                  {{!-- tags --}}
                  <div class="row center tags-input" data-name="tags-input">
                     <label for="post-tags" class="pretty-label">Tags:</label>
                  </div>

                  {{!-- description --}}
                  <div class="row center">
                     <label for="post-text" class="pretty-label">Product Description:</label>
                     <textarea class="form-control w-100" id="desc-edit" name="post-text">{{post.description}}</textarea>
                  </div>

                  {{!-- price --}}
                  <div class="row center">
                     <label for="post-price" class="pretty-label">Product Price:</label>
                     <input type="number" class="form-control w-100" id="post-price" name="post-price" min="0"
                        value="{{post.price}}" step="01" />
                  </div>

                  {{!-- category --}}
                  <div class="row center pb-0">
                     <label for="post-category" class="pretty-label">Category:</label>
                  </div>
                  <div class="row pt-0">
                     <select class="form-control w-100" id="edit-post-category">
                        <option value="" selected disabled hidden>Select a Category</option>
                        {{#each categories as |category|}}
                        <option class="w-100" value="{{category.id}}-{{category.category_name}}">{{category.category_name}}</option>
                        {{/each}}
                     </select>
                  </div>
                  <button type="submit" id="post-create" class="styled-btn mb-4">Update Post</button>
               </form>
            </div>
            <button type="button" data-id="{{post.id}}"
               class="w-100 btn btn-dark delete-post-btn">Delete Post</button>
         </div>
      </div>
   </div>

   <div class="container-fluid col-sm-12 col-lg-6">
      <div class="row">
         <div class="card w-100 text-center">
            <div class="card-header">
               Preview Post
            </div>
            <div class="card-body rounded bg-light">
               <img src="{{post.image_url}}" onchange="previewFile()" id="preview-img" class="card-img-top w-100 mb-3" alt="Image preview">
               <h5 class="card-title" id="preview-title">{{post.title}}</h5>
               <p class="card-text" id="preview-desc">
                  {{post.description}}
               </p>
               <h5 class="card-price" id="preview-price">${{post.price}}</h5>
               <div class="card-footer bg-light">
                  <small class="text-muted">
                     <span class="edit-post-category" id="preview-category">{{post.category.category_name}}</span>
                     <br>
                     Posted by {{post.user.username}}
                     <br>
                     Created on {{format_date post.created_at}}</small>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/tags.js"></script>

{{> firebase}}
{{!-- upload logic must be defined under firebase initialization --}}
<script src="/javascript/upload-file.js"></script>