<div class="row d-flex flex-wrap justify-content-center">
    <div class="card w-75">
        <div class="card-header">
            Your Direct Messages 
        </div>
        <div class="card-container">
            <div class="row card-row">
                {{#each chats}}
                <div class="card w-100 col-6 bg-light">
                    <div class="card-body message-card bg-light d-flex flex-wrap justify-content-center">
                        <small class="text-muted w-100">
                            Chat started about <a href="/post/{{post.id}}">{{post.title}}</a> by {{user.username}}.
                        </small>
                        <hr>
                        <p class="card-text mb-1 w-100">{{text.chat_text}}</p>
                        <a href="/chat/{{id}}" class="fake-btn w-25 mt-2 w-100 p-1">Go To direct message</a>
                        <button type="button" data-id="{{id}}" class="w-100 btn btn-dark delete-chat-btn">
                            Delete 
                        </button>
                    </div>
                </div>
                {{/each}}
                
                {{#unless chats}}
                You have no direct messages!
                {{/unless}}
            </div>
        </div>
    </div>
</div>

{{#if chats}}
<script src="/javascript/delete-chat.js"></script>
{{/if}}