<div class="container">
    <div class="row row-cols-1 row-cols-md-4">
        {{#each posts}}
            <div class="col mb-4">
                <a class="card-link" href="/post/{{id}}">
                    <div class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/200x150" class="card-img-top">
                        <div class="card-body bg-light">
                            <h5 class="card-title">${{price}}</h5>
                            <p class="card-text">
                                {{title}}    
                            </p>
                            <div class="card-footer bg-light">
                                <small class="text-muted">Created by {{user.username}} on {{format_date created_at}}</small>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
        {{/each}}
    </div>
</div>
